<% provide :title, 'Business Intelligence' %>
<% provide :description, '' %>
<% provide :keywords, '' %>
<% provide :ld_json, {
  "@context": "https://schema.org/"
} %>

<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>

      </div>
    </div>
  </div>
</section>