<% provide :title, 'Inbound Marketing' %>
<% provide :description, '' %>
<% provide :keywords, '' %>
<% provide :ld_json, {
  "@context": "https://schema.org/"
} %>

<section id='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1 class='text-center'>Inbound Marketing</h1>
        <hr>

        <div class='col-md-6'>
          <p>No estágio atual da internet os leads buscam cada vez mais
          informações antes de falar com um vendedor e antes de decidir
          o que e de quem comprar. Nesse contexto surge uma nova oportunidade
          de atrair clientes: o Inbound Marketing. Essa estratégia é focada
          em atrair, educar e gerar interesse para um público-alvopor meio
          da entrega e compartilhamento de conteudos relevantes.
          </p>
          <br>

          <%= link_to '', class: 'btn btn-primary btn-lg top' do %>
            Contratar Serviço
          <% end %>
        </div>
        <div class='col-md-6'>
          <div class='well'></div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-5'>
        <div class='col-md-12'>
          <h2>Ofertas</h2>
          <hr>
          <p>A ideia principal do Inbound Marketing é qualificar os
          potenciais clientes e direcioná-los durante a sua jornada
          de compras.
          </p>
        </div>

        <div class='col-md-12'>
          <div class='media'>
            <a href='#' class='pull-left'>

            </a>
            <div class='media-body'>
              <h4 class='media-heading'>Marketing de Conteúdo</h4>
              <p>Para que o lead tenha conteúdo de qualidade que o ajude
              em suas escolhas, desde o momento em que ele percebe que tem
              um problema ou oportunidade, passando pela escolha de uma 
              solução e chegando ao momento de decisão.
              </p>
            </div>
          </div>

          <div class='media'>
            <a href='#' class='pull-left'>

            </a>
            <div class='media-body'>
              <h4 class='media-heading'>Otimização de SEO</h4>
              <p>Aqui, o principal foco é assegurar que o lead
              receberá o material certo, no momento ideal. Para isso,
              utilizamos ferramentas como a RD Station para garantir
              que o potencial cliente será nutrido e educado em relação
              a sua possivel compra.
              </p>
            </div>
          </div>

          <div class='media'>
            <a href='#' class='pull-left'>

            </a>
            <div class='media-body'>
              <h4 class='media-heading'>E-mail marketing e automação</h4>
              <p>A partir da criação da persona traçamos a
              jornada deste potencial cliente para que cada
              produção seja alinhada com suas dores e objetivos,
              indicando como sua empresa pode ajuda-lo durante
              todo o processo de compras.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-7'>
        <div class='jumbotron'></div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <h2 class='text-center'>Beneficios</h2>
        <hr>

        <div class='col-md-4'>
          <div clas='text-center'>
            <%= image_tag('', class: '') %>
            <h4>Gera mais controle sobre as ações</h4>
            <hr>
            <p>Com uma estratégia bem planejada,
              fica mais fácil entender quem a sua
              empresa deve atingir e como fazer isso.
              Além disso, a partir da etapa de planejamento
              é que se torna viável mensurar os resultados
              alcançados.
            </p>
          </div>
        </div>

        <div class='col-md-4'>
          <div clas='text-center'>
            <%= image_tag('', class: '') %>
            <h4>Evita gastos desnecessários</h4>
            <hr>
            <p>Quando você sabe como a sua
              persona se comporta fica muito mais fácil
              saber em quais meios você deve atuar (em quais
              redes sociais apostar, que tipo de conteudo criar etc.)
              Com isso, o investimento é muito mais certeiro e evita
              que sua empresa perca dinheiro.
            </p>
          </div>
        </div>

        <div class='col-md-4'>
          <div clas='text-center'>
            <%= image_tag('', class: '') %>
            <h4>Traz vantagens competitivas</h4>
            <hr>
            <p>Um planejamento estratégico bem
              definido coloca sua empresa a frente
              de seus concorrentes, isso porque é
              possivel mapear quais são as ações
              realizadas por eles. entender quais
              foram os resulados e fazer ainda melhor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>